# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SaveEmotion.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\SaveEmotion\SaveEmotion\.idea\.idea.SaveEmotion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
